{% extends 'layout.html' %}
{% block title %}
    <title>充值模板列表-电小服管理系统</title>
{% endblock %}
{% block content %}
    <div class="container">
        <div style="margin-bottom: 10px" class="clearfix">

            <div style="float: right;width: 300px">
                <form method="get">
                    <div class="input-group">

                        <input type="text" name="q" class="form-control" placeholder="请输入模板名称"
                               value="{{ search_data }}">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </span>

                    </div>
                </form>
            </div>

        </div>

        <div class="bs-example" data-example-id="panel-without-body-with-table">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    会员充值模板列表
                </div>

                <!-- Table -->
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>模板名称</th>
                        <th>时长（月）</th>
                        <th>售卖金额</th>
                        <th>介绍</th>
                        <th>创建时间</th>
                        <th>最后修改时间</th>
                        <th>操作</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for obj in case_set %}
                        <tr>
                            <th scope="row">{{ obj.id }}</th>
                            <td>{{ obj.name }}</td>
                            <td>{{ obj.quantity }}</td>
                            <td>{{ obj.price}}</td>
                            <td>{{ obj.remark }}</td>
                            <td>{{ obj.creation_time|date:"Y-m-d H:i:s" }}</td>
                            <td>{{ obj.last_modify_time|date:"Y-m-d H:i:s" }}</td>
                            <td>
                                <a class="btn btn-primary btn-xs" href="/membermodel/{{ obj.id }}/edit/">修改</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        <ul class="pagination">
            {{ page_string }}
        </ul>


    </div>

{% endblock %}