{% extends 'layout.html' %}
{% block title %}
    <title>充值记录列表-电小服管理系统</title>
{% endblock %}
{% block content %}
    <div class="container">
        <div style="margin-bottom: 10px" class="clearfix">

            <div style="float: right;width: 300px">
                <form method="get">
                    <div class="input-group">

                        <input type="text" name="q" class="form-control" placeholder="请输入模板名称"
                               value="{{ search_data }}">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </span>

                    </div>
                </form>
            </div>

        </div>

        <div class="bs-example" data-example-id="panel-without-body-with-table">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    会员充值记录列表
                </div>

                <!-- Table -->
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>订单号</th>
                        <th>支付方式</th>
                        <th>用户账号</th>
                        <th>购买会员信息</th>
                        <th>支付金额</th>
                        <th>支付状态</th>
                        <th>创建时间</th>
                        <th>支付时间</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for obj in case_set %}
                        <tr>
                            <th scope="row">{{ obj.id }}</th>
                            <td>{{ obj.order_no }}</td>
                            <td>{{ obj.get_pay_type_display }}</td>
                            <td>{{ obj.user.login_name }}</td>
                            <td>{{ obj.memer.remark }}</td>
                            <td>{{ obj.price }}</td>
                            <td>{{ obj.get_pay_status_display }}</td>
                            <td>{{ obj.creation_time|date:"Y-m-d H:i:s" }}</td>
                            <td>{{ obj.last_modify_time|date:"Y-m-d H:i:s" }}</td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        <ul class="pagination">
            {{ page_string }}
        </ul>


    </div>

{% endblock %}