{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>电小服用户注册</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.min.css' %}">
    <style>
        .account {
            width: 400px;
            border: 1px solid #dddddd;
            border-radius: 5px;
            box-shadow: 5px 5px 20px #aaa;

            margin-left: auto;
            margin-right: auto;
            margin-top: 100px;
            padding: 20px 40px;
        }

        .account h2 {
            margin-top: 10px;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="account">
    <h2>用户注册</h2>
    <form method="post" novalidate>
        {% csrf_token %}
        <div class="form-group">
            <label>邀请码</label>
            {{ form.inviter_code }}
            <span style="color: red;">{{ form.inviter_code.errors.0 }}</span>
        </div>
        <div class="form-group">
            <label>用户名</label>
            {{ form.login_name }}
            <span style="color: red;">{{ form.login_name.errors.0 }}</span>
        </div>
        <div class="form-group">
            <label>密码</label>
            {{ form.password1 }}
            <span style="color: red;">{{ form.password1.errors.0 }}</span>
        </div>
        <div class="form-group">
            <label>确认密码</label>
            {{ form.password2 }}
            <span style="color: red;">{{ form.password2.errors.0 }}</span>
        </div>
        <div class="form-group">
            <label for="id_code">图片验证码</label>
            <div class="row">
                <div class="col-xs-7">
                    {{ form.code }}
                    <span style="color: red;">{{ form.code.errors.0 }}</span>
                </div>
                <div class="col-xs-5">
                    <img id="image_code" src="/image/code/" style="width: 125px;">
                </div>
            </div>
        </div>
        <input type="submit" value="立即注册" class="btn btn-primary">
        <a class="btn btn-success" href="/index/login/">
                已有账号？立即登录
            </a>
    </form>
</div>

</body>
</html>
